.highlightSubscriberId {
  background-color: cyan;
}

.highlightSubscriberName {
  background-color: cyan;
}

.highlightSubscriberPhoneNumber {
  background-color: cyan;
}

.highlightAttendedBy {
  background-color: cyan;
}